.wrapper {
    min-height: 50vh;
}
.registerForm {
	width: 100%;
	max-width: 400px;
}

.registerForm input,
.registerForm select,
.registerForm button {
	border-radius: 0.65rem;
	padding: 1rem 2rem;
    width: 100%;
}
.registerForm input,
.registerForm select {
	background-color: #c2c2c2;
	color: #fff;
	border: none;
	font-weight: 700;
}
.registerForm input::placeholder,
.registerForm select::placeholder {
	color: #fff;
}
.registerForm button {
	background-color: var(--main-red);
	color: #fff;
	font-weight: 700;
	border: none;
}
.registerForm button:hover,
.registerForm button:focus {
	background-color: var(--dark-red);
}

.disabled {
	opacity: 0.5;
	cursor: not-allowed;
}