.gamePackName {
    font-family: tektur;
    background-color: rgb(var(--main-red-rgb) / 0.8);
    border-radius: 1rem;
    border: 1px solid #fff;
}

.gameStateSticky {
    position: sticky;
    top: 10px;
    z-index: 100;
}