.quizWrapper {
    min-height: 60vh;
    position: relative;
}

.quizBg {
    position: absolute;
    top: 0;
    right: 0;
    width: 120%;
    height: 100%;
    z-index: 0;
}

@media (max-width: 991px) {
    .quizBg {
        width: 110%;
        right: 50%;
        transform: translateX(50%);
        margin-top: 1rem
    }
}

.quizContent {
    z-index: 1;
    counter-reset: answer-counter;
}

.questionNumber {
    padding: 0.5rem 1.5rem;
    background-color: rgb(0 164 229 / 0.9);
    border-radius: 1rem;
    border: 1px solid #fff;
}

.quizImg {
    border-radius: 1rem;
}

.matchingAnswer {
    min-width: 20px;
    line-height: 1;
    border-bottom: 1px solid #fff;
    cursor: pointer;
    /* text-transform: uppercase; */
}

.matchingAnswerSelect {
    min-width: 100px;
    background-color: #f5fbff;
    border-radius: 0.65rem;
    padding: 0.8rem 1rem;
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    /* text-transform: uppercase; */
    cursor: pointer;
    user-select: none;
}

@media (max-width: 768px) {
    .matchingAnswerSelect {
        min-width: 80px;
        font-size: 1.2rem;
    }
}

.matchingAnswerReset {
    background-color: #627d8d;
    color: #fff;
    outline: none;
    border: none;
    padding: 0.9rem 1.1rem;
    margin-top: 1.5rem;
    border-radius: 0.65rem;
}

.matchingAnswerReset svg {
    height: 20px;
}

.matchingAnswerSubmit {
    background-color: #133777;
    color: #fff;
    outline: none;
    border: none;
    padding: 0.9rem 1.1rem;
    margin-top: 1.5rem;
    border-radius: 0.65rem;
    width: 100%;
    font-weight: 700;
    text-transform: uppercase;
}

.answer {
    text-align: center;
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 700;
    color: #5fe771;
}

.answerBtn {
    border: none;
    outline: none;
    background-color: #133777;
    color: #fff;
    font-weight: 700;
    padding: 4rem 1.8rem 1.5rem;
    border-radius: 1rem;
    position: relative;
}

.answerBtn::before {
    counter-increment: answer-counter;
    content: counter(answer-counter, upper-alpha);
    position: absolute;
    top: 12px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.3rem;
}

@media (max-width: 768px) {
    .answerBtn {
        padding: 3.2rem 1.2rem 1rem;
        font-size: 0.9rem;
    }
}

.answerInputWrapper {
    position: relative;
}

.answerInput {
    border: none;
    outline: none;
    height: 4rem;
    font-size: 110%;
    font-weight: 700;
    text-align: center;
    padding: 0.8rem 4.6rem 0.8rem 1.5rem;
    background-color: #133777;
    color: #fff;
    width: 100%;
    border-radius: 1rem;
}

.answerInputSubmit {
    width: 48px;
    position: absolute;
    right: 3%;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    outline: none;
}

.disabled {
    opacity: 0.5;
    cursor: not-allowed !important;
}

.selected {
    background-color: #83ffff;
    color: #133777;
}

.corrected {
    background-color: #56bb5d;
    color: #fff;
}

.inCorrected {
    background-color: #f36762;
    color: #fff;
}