.wordFindWrapper {
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
}

.char {
    width: 28px;
    height: 28px;
    line-height: 0;
    border: 1px solid #dddddd;
    outline: none;
    background-color: #fff;
    user-select: none;
    color: var(--dark-blue);
    text-transform: uppercase;
    text-align: center;
}

.foundWord {
    color: #fff;
    border: 1px solid #fff;
    background-color: var(--secondary-blue);
    border-radius: 3rem;
    padding: 0.3rem 0.5rem;
    display: inline-block;
    margin-right: 3px;
    margin-bottom: 5px;
    font-size: 0.8rem;
}

.found {
    background-color: var(--main-blue);
    color: #fff;
}

.selected {
    background-color: var(--secondary-blue);
    color: #fff;
}

@media (max-width: 550px) {
    .char {
        font-size: 0.5rem;
        width: 18px;
        height: 18px;
    }
}